body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-weight: 400;
}

section{
    padding: 14px;
    margin: 8px;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 7px;
}

nav ul{
    display: flex;
    list-style: none;
    background: seagreen;
    padding: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 14px;
}

nav a:hover {
    color: black;
    transition: 0.3s ease;
}

.profile-picture{
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    object-fit: cover;
} 

.Welcome-header{
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 9px;
}

.logo{
    width: 120%;
    max-width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.containforcard{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 9px 0;
}

.card{
    background-color: gray;
    flex: 1;
    text-align: center;
    border: 1px;
    border-radius: 16px;
    padding: 14px;
    transition: 0.3s ease;
}

.card:hover{
    border-color:red;
}

footer {
    padding: 19px;
    margin: 0;
    text-align: center;
    background-color: whitesmoke;
    border-top: 1px solid;

}

footer a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
 }

footer a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 600px)
{
    body {background-color: lightblue;}
}

@media only screen and (min-width: 950px)
{
    main{
    max-width: 900px;
    margin:auto;
    }
    .container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 17px;
 }
}